body {
    font-family: 'Epilogue', 'Noto Sans', sans-serif;
}

/* Tab Styles */
.tab-link {
    padding-bottom: 13px;
    padding-top: 16px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    color: #8a6067;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.tab-link.active {
    border-color: #181112;
    color: #181112;
}

/* Content Fade-in Effect */
.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tab-content.active {
    display: block;
    opacity: 1;
}

.tab-content:not(.active) {
    display: none;
}

/* Ocultar la barra de desplazamiento por defecto */
nav::-webkit-scrollbar {
    display: none;
    /* Para WebKit */
}

nav {
    scrollbar-width: none;
    /* Para Firefox */
}

nav {
    -ms-overflow-style: none;
    /* Para Internet Explorer y Edge */
}

/* Mostrar la barra de desplazamiento solo cuando se está desplazando */
nav:hover::-webkit-scrollbar {
    display: block;
    /* Para WebKit */
}

nav:focus-within::-webkit-scrollbar {
    display: block;
    /* Para WebKit */
}

nav:focus-within {
    scrollbar-width: thin;
    /* Para Firefox */
}

nav:focus-within {
    -ms-overflow-style: auto;
    /* Para Internet Explorer y Edge */
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #520c10;
    /* Morado */
    color: white;
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: #8a6067;
    /* Color al pasar el cursor */
}

.icon-button i {
    font-size: 18px;
}

.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.icons-container {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.modal-fade-enter-active, .modal-fade-leave-active {
    transition: opacity 0.5s ease;
  }
  .modal-fade-enter, .modal-fade-leave-to /* .modal-fade-leave-active en versiones anteriores de Vue */ {
    opacity: 0;
  }
  